/* hour counter: 1hr */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@400;500&display=swap');
* {
    margin: 0px;
    padding: 0px;
}

:root {
    --text-base: #afb6c2;
    --text-title: #d4ccb6;
    --background: #191816;
    --form-background: #24221f;
    --primary-color: #ffc632;
}

.pageLayout {
    display: grid;
    grid-template-columns: 56.15% 43.85%;
    grid-template-rows: 100%;
    height: 100vH;
}

.loginArea{
    display: flex;
    background-color: var(--background);
}

.imgFluid {
    max-height: 100%;
}

.header {
    display: flex;
    align-items: flex-start;
}
.header img{
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 5px;
}
.header h3 {
    color: var(--text-title);
    margin-top: 23%;
    font-family: 'Poppins', sans-serif;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #24221f;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .logo-container img {
    height: 50px;
    margin-right: 10px;
  }
  
  .logo-container h2 {
    font-size: 28px;
    color: #fff;
  }
  
  p {
    margin-bottom: 20px;
    color: #fff;
  }
  
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #24221f;
    padding: 20px;
    border-radius: 5px;
    width: 350px;
  }
  
  .form-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
  }
  
  input[type="email"],
  input[type="password"],
  button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #1c1b1a;
    color: #fff;
    border-bottom: 2px solid #999;
    transition: border-bottom-color 0.3s ease-in-out;
  }
  
  input[type="email"]:focus,
  input[type="password"]:focus {
    outline: none;
    border-bottom-color: yellow;
  }
  
  label {
    color: #fff;
    margin-top: 5px;
    font-size: 14px;
    text-align: center;
  }
  
  input[type="checkbox"] {
    margin-right: 5px;
  }
  
  button {
    background-color: #007fff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #0055ff;
  }
  